.twFontBlackOpsOne {
  font-family: 'Black Ops One', sans-serif;
}

.twFaster {
  font-family: 'Faster One', sans-serif;
}

.withdrawBtn {
  background-color: #5265a1;
}

.bgBoard {
  background-color: #1b1b56;
}

.bgMain {
  background-color: #03043f;
}

.wildkatTableEvenColor {
  background-color: #476080;
}

.wildkatTableOddColor {
  background-color: #3a4c73;
}

.inputBgColor {
  background-color: #272c51;
}
